#es-highlighter-container {
  position: fixed;
  pointer-events: none;
  overflow: hidden;
  z-index: 1;
}

.es-highlight {
  position: absolute;
  pointer-events: none;
  display: none;
  transition: background-color 0.1s ease;
}
